/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.content-container {
  height: 50vh;
  width: 50vw;
  border: 0px solid;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
